$light-grey:#EEEEEE;
$medium-grey:#CCCCCC;
$dark-grey:#BBBBBB;
$font: 'Quicksand', sans-serif;
$font-medium:18px;
$font-large:25px;


$padding:15px;
$list-width:275px;


$page-margin:90px;
$sidebar-width:300px;
$adbook-height:550px;

$form-margin: 10px;


$search-width: 250px;