.ab-listpane {
	width: $sidebar-width;
	height: $adbook-height;
}

.ab-contacts {
	padding-top: 50px;
}

.ab-list {
 	@extend %list-padding;
  padding-left: 5px;
    margin: auto;
    width: $list-width;
    font-family: $font;
   	border-top: 1px solid $dark-grey;
   	&:hover, &:focus {
      background-color: $dark-grey;
    }
}

%list-padding {
	padding-top: $padding;
    padding-bottom: $padding;	
}
